html, body {
  font-size: 100%;
  @media #{$medium} {
    font-size: 87.5%;
  }
  @media #{$xlarge} {
    font-size: 87.5%;
  }
  @media #{$xxlarge} {
    font-size: 100%;
  }
  @media #{$kurvanagy} {
    font-size: 112.5%;
  }
}

main {
  position:relative;
}
.row.container {
   @media #{$xlarge} {
    padding:0 5%;
  }
  @media #{$xxlarge} {
    padding:0 7%;
  }
}
.row.row--fullwidth {
  @media #{$xlarge} {
    max-width: none;
  }
}

button, .button {
  text-transform: uppercase;
}
dl {
  margin: $paragraph-margin-bottom 0;
  dt {
    text-transform: uppercase;
    font-weight: $font-weight-normal;
    line-height: 1;
    margin:0;
    padding: 1.25rem 0 1.25rem .75rem;
    position: absolute;
    .icon {
      color:$primary-color;
      display: inline-block;
      text-align: center;
      font-size: 1.5rem;
      line-height: .125;
      margin-right:.666em;
      transform:translateY(.125em);
    }

  }
  dd {
    line-height: 1;
    padding: 1.25rem 0.75rem 1.25rem 10rem;
    text-align: right;
    margin:0;
    &:not(:last-child) {
      border-bottom: 1px solid $gainsboro;
    }
    &:hover {
      background-color: $white;
    }
  }
}

.pagesection {
  position: relative;
  padding-top:2rem;
  padding-bottom: 2rem;
}

.pagesection--with-pulledup-header {
  margin-top:5rem;
}

.pagesection__header {
  h2,h3 {
    margin:1rem 0;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .pagesection--with-pulledup-header & {
    //background-color: red;
    position: absolute;
    top:-3rem;
  }
}