.bottomwidgets {
  //@include clearfix();
  @media #{$medium} {
    //max-height: 420px;
    overflow:hidden;
    //overflow: hidden;
  }

}
.widget {
  text-align: center;
  margin-top: 4rem;
  margin-bottom:0;

  h2 {
    color:inherit;
    font-size:2rem;
    margin:0 0 .333em;
    font-weight: 300;
    @media #{$medium} {
      font-size:2.125rem;
      line-height: 1.2
    }

  }
  p {
    color:inherit;
    //font-size: .875rem;
    line-height: 1.4;
  }

  .button {
    margin-bottom: 0;
  }

}
.widget--withnotitle {
  margin-top: 0;
}

.widget--fixedheight {
  position: relative;


  @media #{$medium} {
    max-height: 420px;
    //overflow: hidden;
    &:after {
      content:'';
      display: block;
      padding-bottom: 100%;
      max-height: 420px;
    }
  }

}
.widget__title {
  text-align: left;
  position: absolute;
  bottom: 100%;
  left:0;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  //margin:0 0 .5rem;

  .columns.widget &  {
    left:$column-gutter/2;
  }

  .widget--withnotitle & {
    display:none;
  }
}

.widget--withbg {
  background-origin: content-box;
  background-clip: content-box;
  background-size: cover;
  background-image: url('http://placehold.it/800x800/111111/1a1a1a?text=Aspect+ratio:+1:1');
  background-repeat: no-repeat;
  background-position: center center;
  color:$ghost;


}

.widget__inner {
  padding:$column-gutter*2 $column-gutter/2;
  @media #{$medium} {
    .widget--fixedheight & {
      padding:$column-gutter/2 12%;

      position: absolute;
      left:$column-gutter/2;
      right:$column-gutter/2;
      top:50%;
      transform:translateY(-50%);
    }

    .widget--fixedheight.widget--with-bg & {
      left:0;
      right:0;
    }
  }
}

.content {
  h2 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}
.filterrow {
  padding:1.25rem 0;
  &.is_sticked {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    margin-bottom: 0;
    border-bottom: 1px solid $smoke;
    z-index:2;
    padding:.875rem 0 .875rem 0;
    background-color: $white;

  }

  .inlinemenu {
    @media #{$medium} {
      text-align: right;
    }
  }
}


.filterrow__title {

  margin:0 0 1rem;
  padding:0;
  font-size: rem-calc(16);
  line-height: 1;
  text-transform: uppercase;
  color:$body-font-color;
  @media #{$medium} {
    margin-bottom: 0;
  }

  input[type="date"] {
    position: absolute;
    transform:translateY(-.45rem);
    display: inline-block;
    margin: 0 0 0 .25rem;
    width:auto;
    height:auto;
    box-shadow: none;
    font-weight: 700;
    font-size: rem-calc(16);
    line-height: 1;
    padding-bottom: .125rem;
    padding-top: .125rem;
    padding-left: .333rem;
    //background-color: transparent;
    //border-color: transparent;
    background-color: $ghost;
    border-color: $smoke;
    color:$primary-color;
    &:hover,&:focus {
      background-color: $white;
      border-color: currentColor;
      color:$primary-color;
      cursor: pointer;
      outline:none;
    }


  }

}
.filters {
  position: relative;
  z-index: 1;
  //padding-bottom: .5rem;
  //text-align: right;
  @media #{$medium} {
    text-align: right;
  }


  select {
    //position: absolute;
    margin-bottom: 0;
    font-size: .75rem;
    padding:.25rem 1.5rem .25rem .5rem;
    height:auto;

    background-color: $ghost;
    border-color: $smoke;
    @media #{$medium} {
      width:auto;
      position: absolute;
      right:1rem;
      transform:translateY(-.333rem);
    }
    &:hover {
      cursor:pointer;
    }
    &:focus {
      outline: none;
    }
  }


}

.iconlist {
  margin:0;
  padding:0;
  li {
    display: inline-block;
    font-size: 1.25rem;
    line-height: 2;
    margin-right: .25em;
    transform:translateY(.0333em);
  }
  a {
    color:inherit;
    &:hover, &:focus {
      color:$primary-color;
    }

    .icon {
      line-height: inherit;


    }
  }
}


.hirdetes {
  background-color: $black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color:$ghost;
  text-align: center;

  h2 {
    color:inherit;
    font-weight: 300;
    line-height: 1.2;
  }
  p {
    color:inherit;
  }

  .button {
    margin-bottom: 0;
  }

}
.hirdetes__content {
  padding:2em 0;
}

.hirdetes--full {
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  h2 {
    font-size: 2.5rem;
  }
  p {
  }
  .hirdetes__content {
    padding:12% 0;
  }
}

