.sitefooter {
  @include clearfix();
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  //border-top: 1px solid $smoke;
  text-align: left;
  color:lighten($body-font-color,15);

}

.footernav__menu {
  // @media #{$xlarge} {
  //   float:left;
  // }
}
.sitefooter__mutyurok {
  font-size: .75rem;
  line-height: 1.4;


  // @media #{$xlarge} {
  //   float:right;
  //   margin-top: .25rem;
  //   text-align: right;
  // }

  a {
    text-transform: uppercase;
    font-weight: 700;
    color:inherit;
    font-size: .666rem;
    //font-variant: small-caps;
    &:hover, &:focus {
      color:$body-font-color;
    }
  }
}

.tothetop {
  position: fixed;
  bottom:1rem;
  right:1rem;
  display: block;
  width:3rem;
  height:3rem;
  line-height: 3rem;
  text-align: center;
  background-color: $ghost;
  border:1px solid $primary-color;
  color:$primary-color;
  opacity: .25;

  &:hover, &:focus {
    opacity:.875;
    color:$primary-color;
  }

  @media #{$xlarge} {
    bottom:2vw;
    right:2vw;
  }

}



// .tothetop {
//   display: block;
//   width:3rem;
//   height:3rem;
//   line-height: 3rem;
//   text-align: center;
//   background-color: $primary-color;
//   color:$ghost;
//   margin:1rem auto 2rem;
//   &:hover, &:focus {
//     background-color:$button-bg-hover;
//     color:$white;
//   }
//   @media #{$medium} {
//     margin:0;
//     position: absolute;
//     right:0;
//     top:0;
//     bottom:0;
//     height:auto;
//   }
// }