.hero {
  position: relative;
  //background-color: $black;
  color:$ghost;

  border-bottom: 1px solid $white;
  overflow:hidden;
  //max-height:20rem;
  @media #{$medium} {
    max-height:25rem;
  }
  @media #{$large} {
    max-height: 40rem;
  }
  @media #{$xlarge} {
    max-height: 45rem;
  }
  @media #{$kurvanagy} {
    max-height: 35rem;
  }
  &:after {
    content:'';
    display: block;
    //padding-bottom: 75%;
    @media #{$medium} {
      padding-bottom:45%;
    }
    @media #{$large} {
      padding-bottom: 40%;
    }
    @media #{$xlarge} {
      padding-bottom: 33.333%;
    }
  }

  .owl-carousel {
    .owl-controls {
      margin:0;

     .owl-pagination {
        position:absolute;
        bottom:1%;
        left:0;
        width:100%;
        .owl-page span {
          border-radius:0;
        }
      }

    }
  }

  @media #{$medium} {
    .owl-carousel {
      height: 100%;
      .owl-wrapper-outer {
        height:100%;
        .owl-wrapper {
          height:100%;
          .owl-item {
            height:100%;
          }
        }
      }




    }
  }
}


.hero--narrow {
  //max-height:12rem;
  @media #{$medium} {
    max-height:10rem;
  }
  @media #{$large} {
    max-height: 10rem;
  }
  @media #{$xlarge} {
    max-height: 10rem;
  }
  @media #{$kurvanagy} {
    max-height: 10rem;
  }
  &:after {
    content:'';
    display: block;
    //padding-bottom: 50%;
    @media #{$medium} {
      padding-bottom:20%;
    }
    @media #{$large} {
      padding-bottom: 15%;
    }
    @media #{$xlarge} {
      padding-bottom: 12.5%;
    }
  }
}

.hero__content {
  width:100%;
  //background-color: rgba($primary-color,.125);
  @media #{$medium} {
    position: absolute;
    height:100%;
    width:100%;
  }
}

.hero__block {
  display:block;
  width: 100%;
  height:auto;
  padding:2rem 0 3rem;
  background-size: cover;
  background-image: url('http://placehold.it/2000x800/111111/1a1a1a?text=Aspect+ratio:+5:2');
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
  &:after {
    content:'';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    //background-color: rgba($black,.333);
    background-image: linear-gradient(to bottom,  rgba($black,.15) 0, rgba($black,.25) 15%, rgba($black,.333) 50%, rgba($black,.25) 85%, rgba($black,.15) 100% );
    z-index: 0;
  }


  @media #{$medium} {
    display:table;
    height: 100%;
    padding:0;
  }

  .hero--narrow & {
    background-image: url('http://placehold.it/2100x210/111111/1a1a1a?text=Aspect+ratio:+10:1');
  }



}



.hero__text {
  display: block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  @media #{$medium} {
    display:table-cell;
  }

}

.hero__title {
  color:inherit;
  font-weight: 300;
  margin-top:.875rem;
  line-height:1;

  @media #{$xlarge} {
    font-size: 3.75rem;
  }

  .hero--narrow & {
    text-transform: uppercase;
    @media #{$xlarge} {
      font-size: 2.25rem;
    }
  }
}
.hero__details {
  @media #{$medium} {
    font-size: 1.125rem;
  }
  .hero__text:not(.text-center) & {
    @media #{$large} {
      width:75%;
    }
  }
  .text-center & {
    @media #{$large} {
      width:75%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}