.members__header {
  .inlinemenu {
    margin:.25rem 0;
  }
}

.row.members__content {
  padding-top:4rem;
  padding-bottom: 0;
}
.squaremember {
  position: relative;
  margin:0 0;
  padding-top: 0;
  padding-bottom: 0;


  a img {
    display: block;
    opacity:.666;
    transition: all .4s ease;
    filter: grayscale(1);
  }
  &:hover, &:focus {
    a img {
      opacity: 1;
      transform:scale(1.125);
      filter:grayscale(0);
    }
  }
}

.squaremember__fig {
  position: relative;
  margin: 0 -1rem 1rem;
  padding:0;
  overflow: hidden;
  backface-visibility:hidden;
  a {
    backface-visibility:hidden;
    background-color: $black;
    display: block;
    position: absolute;
    left:0;
    width:100%;
    top:0;
    height:100%;

  }

  &:after {
    content: '';
    display: block;
    padding-bottom: 66.666%;
  }
}

.squaremember__header {
  position: relative;
  overflow:hidden;
  padding-bottom: 1rem;
  // background-color: red;

  @media #{$medium} {
    height:8rem;
    &:after {
      content: '';
      position: absolute;
      bottom:0;
      left:0;
      width:100%;
      height:4.5rem;
      background-image: linear-gradient(to top, $white 0, rgba($white,0) 4.5rem);
    }
  }

  @media #{$xxlarge} {
    height:12rem;
  }


}


.squaremember__name {
  margin: 0 0 .25rem !important;
  line-height: 1.2;
}

.squaremember__title {
  margin:0 0 1rem;
  font-style: italic;
  font-size: .875rem;
}



.squaremember__descr {
  //background-color: red;
  position: relative;
  font-size: .875rem;
  line-height: 1.4;
  padding: 0rem;
  margin-bottom: 0;
}
.squaremember__footer {
  @include clearfix();
  margin:0 -1rem;
  //background-color: $smoke;
}



.squaremember__iconlist, .squareevent__iconlist {
  float:left;
  padding-left: 1rem;
}

.squaremember__more, .squareevent__more {
  float:right;
  display: inline-block;
  background-color: $primary-color;
  color: $ghost;
  font-size: .875rem;
  line-height: 1;
  padding:.875rem 1rem;
  &:hover, &:focus {
    color:$button-font-color;
    background-color: scale-color($button-bg-color, $lightness: $button-function-factor);
  }
}
