.pageheader {
  position: relative;
  border-top:.125rem solid $primary-color;
  @media #{$xlarge} {
    border-top:none;

  }
}





/****** Nav Toggle on Small Scren *****/
label.navtoggle-label {
  float:right;
  margin-top:.666em;
  display: inline-block;
  text-align: right;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1;
  cursor: pointer;
  text-transform: uppercase;
  color:$body-font-color;

  &:hover {
    color:$primary-color;
  }


  @media #{$medium} {
    font-size: 1.333rem;
  }

  @media #{$xlarge} {
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  i {
    .js-menus-are-open &:before {
      //content: "X";
    }
  }




}

input[type="checkbox"]#navtoggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: none;
  visibility: hidden;
  opacity: 0;

  & + .prinav {
    height: 0;
    visibility: hidden;
    opacity:0;
    @media #{$xlarge} {
      height: 100%;
      visibility:visible;
      opacity:1;
    }

  }

  &:checked + .prinav {
    height: 100%;
    visibility:visible;
    opacity:1;
  }


}



/******* Secondary (Inverse) Menu *******/
.pageheader__inverse {
  background-color: $primary-color;
  color:$black;
  padding:.25rem 0;

  position: absolute;
  bottom:-2.125rem;
  left:0;
  width:100%;
  .js-menus-are-open & {
    bottom:0;
  }

  @media #{$xlarge} {
    position:static;

  }
}

.secnav__menu {
  list-style-type: none;
  margin:0;
  padding:0;
  text-align: center;
  @media #{$medium} {
    text-align:right;
  }
  @media #{$xlarge} {
    text-align:left;
  }
  li {
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    &:not(:first-child):before {
      content: '|';
      display: inline-block;
      padding-right:.333em;
      padding-left: 0em;
    }
    @media #{$xlarge} {
      font-size: .875rem;
    }

    > a {
        color:inherit;
        &:hover, &:focus {
          color:$white;
        }

      }
  }

}

.pageheader__main {
  @include clearfix();
  background-color: $white;
  padding:.5rem 0;

  @media #{$medium} {
    padding:1.125rem 0;
  }
  @media #{$xlarge} {
    padding:2rem 0;
  }
}

.sitelogo {
  @include hide-text();
  background-image: url('../images/logo_full.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100% auto;
  display: block;
  width:10rem;
  height:2.75rem;
  float:left;
  //background-color: red;

  @media #{$medium} {
    width:13rem;
    height:3.4666rem;
  }

  @media #{$xxlarge} {
    width:15rem;
    height:4rem;
  }
}




/******* Main Menu *******/
.prinav {
  clear:both;


  @media #{$xlarge} {
    float:right;
    clear: none;
    margin: 1.25rem 0 0;
  }
  @media #{$xxlarge} {
    margin: 1.5rem 0 0;
  }

}

.prinav__menu {
  list-style-type: none;
  margin:0 0;
  padding:3rem 0 5rem;
  text-align: center;
  font-size: 1.25rem;

  @media #{$medium} {
    padding:.5rem 0 3rem;
    text-align:right;

  }

  @media #{$xlarge} {
    padding: 0;
    font-size: 1rem;
    text-align: right;
      line-height: 1;
  }
  li {
    margin-bottom:.333em;
    @media #{$xlarge} {
      display: inline-block;
      margin-bottom: 0;
      padding-left: 1.25em;
    }
    @media #{$xxlarge} {
      a {
        font-size: rem-calc(15);
      }
    }

    > a {
        font-weight: $font-weight-normal;
        text-transform: uppercase;
        color:$body-font-color;
        &:hover, &:focus {
          color:$primary-color;
        }

      }
  }

}


/****** Footer Nav ****/
.sitefooter {
  margin-top: 3rem;
  @include clearfix();
  background-color: $gainsboro;
  position: relative;
}
.footernav__menu {
  list-style-type: none;
  margin:0;
  padding:.75rem 0;
  text-align: center;
  @media #{$medium} {
    text-align:left;
  }
  @media #{$xlarge} {
    text-align:left;
  }
  li {
    display: inline-block;
    font-size: .75rem;
    line-height: 1;
    padding:0;
    margin:0;
    text-transform: uppercase;
    &:not(:first-child):before {
      content: '|';
      display: inline-block;
      padding-right:.333em;
      padding-left: 0;
    }
    > a {
        color:inherit;

        &:hover, &:focus {
          color:$primary-color;
        }

      }
  }
}

.tothetop {
  display: block;
  width:3rem;
  height:3rem;
  line-height: 3rem;
  text-align: center;
  background-color: $primary-color;
  color:$ghost;
  margin:1rem auto 2rem;
  &:hover, &:focus {
    background-color:$button-bg-hover;
    color:$white;
  }
  @media #{$medium} {
    margin:0;
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    height:auto;
  }
}


/***** Tabbed Navigation at the bottom of hero ***/
.inner__nav {
  float:right;
  margin-top: rem-calc(-44);
  .tab-title {
    margin-left: .125rem;
    > a {
      text-transform: uppercase;
      font-weight: $font-weight-bold;
    }
  }
}

.innernav__menu {

}