.setagrid {
  margin-bottom: 2rem;
}

.row.listofwalk__filterrow {
  padding:2rem 0 0;


}

.listofwalk__header {
  h2 {
    margin:.5rem 0 .5rem .125rem;
    padding:0;
    font-size: rem-calc(16);
    text-transform: uppercase;
   }
}

.filters {
  position: relative;
  z-index: 1;
  padding-bottom: .5rem;
  //text-align: right;
  @media #{$medium} {
    text-align: right;
  }

  select {
    display: inline-block;
    margin: 0;
    border:none;
    width:8em;
    padding:0 1.5rem 0 .5rem;
    background-color: transparent;
    box-shadow: none;
    font-weight: 700;
    &:hover {
      cursor:pointer;
    }
    &.dateselect {
      width:10em;
      margin-right: .5rem;
      display: none;
    }

  }

  input[type="date"] {
    display: inline-block;
    width:auto;
    border:none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding:0 0 0 0;
    margin: 0;
    text-align: right;
  }
}

.row.listofwalk__walklist {
  @include clearfix();

}

.squarewalk {
  position: relative;
  margin:0 0;
  padding-top: 0;
  padding-bottom: 0;

  //border:none;

  a img {
    display: block;
    opacity:.666;
    // filter:grayscale(1);
    transition: all .4s ease;
  }
  &:hover, &:focus {
    a img {
      opacity: 1;
      transform:scale(1.125);
      // filter:grayscale(0);
    }
  }
}

.squarewalk__fig {
  position: relative;
  margin: 0 -1rem 1rem;
  padding:0;
  overflow: hidden;
  backface-visibility:hidden;
  a {
    backface-visibility:hidden;
    background-color: $black;
    display: block;
    position: absolute;
    left:0;
    width:100%;
    top:0;
    height:100%;
  }

  &:after {
    content: '';
    display: block;
    padding-bottom: 40%;
  }
}

.squarewalk__header {
  position: relative;
  overflow:hidden;
  padding-bottom: 1rem;
  // background-color: red;

  @media #{$medium} {
    height:8rem;
    &:after {
      content: '';
      position: absolute;
      bottom:0;
      left:0;
      width:100%;
      height:4.5rem;
      background-image: linear-gradient(to top, $white 0, rgba($white,0) 4.5rem);
    }
  }

  @media #{$xxlarge} {
    height:9rem;
  }


}


.squarewalk__title {
  margin-top: 0;
  line-height: 1.2;
  a {
    color: inherit;
    &:hover, &:focus {
      color:$primary-color;
    }
  }
}



.squarewalk__descr {
  //background-color: red;
  position: relative;
  font-size: .875rem;
  line-height: 1.4;
  padding: 0rem;
  margin-bottom: 0;
}
.squarewalk__footer {
  @include clearfix();
  margin:0 -1rem;
  background-color: $smoke;
}



.squarewalk__iconlist, .squareevent__iconlist {
  float:left;
  padding-left: 1rem;
}

.squarewalk__more, .squareevent__more {
  float:right;
  display: inline-block;
  background-color: $primary-color;
  color: $ghost;
  font-size: .875rem;
  line-height: 1;
  padding:.875rem 1rem;
  &:hover, &:focus {
    color:$button-font-color;
    background-color: scale-color($button-bg-color, $lightness: $button-function-factor);
  }
}
